.HeadingEdition {
  position: relative;
  &.edition {
    outline: none;

    &::after {
      content: "";
      position: absolute;
      display: block;
      top: -8px;
      left: -8px;
      right: -8px;
      bottom: -8px;
      border: 2px dashed currentColor;
      border-radius: 5px;
      pointer-events: none;
      transition: opacity 250ms;
      opacity: 0;
    }

    &:hover {
      &::after {
        opacity: 0.1;
      }
    }
  }

  &.active {
    &::after {
      opacity: 0.3 !important;
    }
  }
}
