.Button {
  //
  background-color: var(--primary);
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 14px;
  padding: 0 20px;
  font-weight: 600;
}
