.Unsplash {
  //

  width: 1000px;
  margin: 40px auto;

  & > header {
    background-color: var(--light);
    padding: 20px;
    margin-bottom: 20px;
  }

  & > .result {
    display: flex;
    flex-wrap: wrap;
    & > * {
      width: 33%;
      position: relative;

      img {
        display: flex;
        width: 100%;
      }
    }
  }
}
