.Arguments {
  //
  background-color: #23252f;
  color: white;

  & > .container {
    width: 1280px;
    max-width: 100%;
    padding: 160px 20px;
    margin: 0 auto;
    text-align: center;
    box-sizing: border-box;

    @media (max-width: 768px) {
      padding: 60px 20px;
    }

    h2 {
      font-size: 3rem;
      font-weight: 500;

      @media (max-width: 768px) {
        font-size: 2rem;
      }
    }
  }
}
